repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen

  - repo: local
    hooks:

      - id: clippy
        name: "Static code analysis"
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        fail_fast: true
        pass_filenames: false
        stages: [ pre-commit ]
