[package]
name = "dockteur"
version = "0.0.0"
edition = "2021"

[dependencies]
env_logger = { version = "0.9.0", default-features = false }
log = "0.4.17"
ureq = { version = "2.4.0", default-features = false }

[dev-dependencies]
tokio = { version = "1.19.2", default-features = false, features = ["rt", "macros"] }
wiremock = "0.5.13"

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
panic = 'abort'
strip = true
