[package]
name = "dockteur"
version = "0.0.0"
edition = "2021"

[dependencies]
env_logger = { version = "^0.10.0", default-features = false }
log = "^0.4.0"
ureq = { version = "^2.7.0", default-features = false }

[dev-dependencies]
http = "^0.2.0"
stubr = "^0.6.0"

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
panic = 'abort'
strip = true
